[Unit]
Description=The deamon running the JustMyToots bot

[Service]
Type=simple
User=damnfinetoot
ExecStart=/usr/sbin/damnfinetoot
Restart=on-failure
StandardOutput=file:/var/log/damnfinetoot/stdout.log
StandardError=file:/var/log/damnfinetoot/stderr.log

[Install]
WantedBy=multi-user.target
